<head>
  <title>Sudoku Solver</title>
</head>

<body>
  <h1>Sudoku Solver</h1>

  <!-- sudoku board -->
  <div class="board" [style.width]="boardSettings.pixelDimensions" [style.height]="boardSettings.pixelDimensions">
    @for (row of util.times(boardSettings.size); track row) {
      @for (column of util.times(boardSettings.size); track column) {
        <div class="boardTile" [id]="'tile' + row + '-' + column"
             [style.background-color]="getCellColor(row, column)"
             [style.color]="getTextColor(row, column)"
             (click)="setCellValue(row, column)">
          {{ getCellValue(row, column) }}
        </div>
      }
    }
  </div>

  <!-- input values -->
  <hr>
  @if (editMode !== 'solved' && editMode !== 'solving') {
    <div class="inputBar" [style.width]="boardSettings.pixelDimensions_InputBar">
      <div class="inputTile errorColor"
           (click)="clearValues()">X</div>
      @if (boardSettings.type === 'custom') {
        <div class="inputTile" style="font-size: 16px"
             [style.background-color]="editMode === 'cellEdit' ? 'lightblue' : 'lightgreen'"
             (click)="toggleEditMode()">
          {{ editMode === 'cellEdit' ? 'Value' : 'Cage' }}
        </div>
      }
      @for (number of util.times(boardSettings.size); track number) {
        <div class="inputTile" [id]="'input' + number"
             (click)="selectInputTile(number)">
          {{ util.getTileValue(number) }}
        </div>
      }
      <div class="inputTile" id="inputNull"
           (click)="selectInputTile(null)"> ? </div>
    </div>
  }

  @if ((editMode === 'cellEdit' && cellErrorMessage.length > 0) || (editMode === 'cageEdit' &&  cageErrorMessage.length > 0)) {
    <div class="errorBox errorColor">
      {{ editMode === 'cellEdit' ? cellErrorMessage : cageErrorMessage }}
    </div>
  } @else {
    <div class="solveRow">
      <div class="button solve" [style.background-color]="solveButtonText === 'Unsolvable!' ? 'indianred' : 'lightgreen'"
           (click)="solve()">
        {{ solveButtonText }}
      </div>
      @if (editMode === 'solved') {
        <div class="button reset" (click)="reset()">
          Reset
        </div>
      }
    </div>
  }

  <!-- board creation settings -->
  <hr>
  <div class="settings-group">
    <div class="settings">
      <b> Board Size </b>
      <mat-radio-group style="display:flex; align-items: flex-start; flex-direction: column" [(ngModel)]="boardSettings.type" (change)="createBoard()">
        <mat-radio-button value="classic9x9">Classic 9x9</mat-radio-button>
        <mat-radio-button value="classic6x6">Classic 6x6</mat-radio-button>
        <mat-radio-button value="custom">Custom</mat-radio-button>
      </mat-radio-group>
      @if (boardSettings.type === 'custom') {
        <mat-form-field>
          <mat-label>Board Size</mat-label>
          <input matInput placeholder="9" type="number"
                 [min]="util.MIN_BOARD_SIZE" [max]="util.MAX_BOARD_SIZE"
                 [(ngModel)]="boardSettings.size" (change)="createBoard()">
        </mat-form-field>
      }
    </div>
    <div class="settings">
      <b> Game Rules </b>
      <div style="display:flex; align-items: flex-start; flex-direction: column">
        <div [matTooltip]="rulesTooltip.get('standard')" matTooltipClass="mat-tooltip">
          <mat-checkbox [(ngModel)]="gameRules.standard" [disabled]="true">Standard Sudoku Rules</mat-checkbox>
        </div>
        <mat-checkbox [(ngModel)]="gameRules.consecutive" [matTooltip]="rulesTooltip.get('consecutive')" matTooltipClass="mat-tooltip">Consecutive</mat-checkbox>
        <mat-checkbox [(ngModel)]="gameRules.knightsMove" [matTooltip]="rulesTooltip.get('knightsMove')" matTooltipClass="mat-tooltip">Knights Move</mat-checkbox>
        <mat-checkbox [(ngModel)]="gameRules.kingsMove" [matTooltip]="rulesTooltip.get('kingsMove')" matTooltipClass="mat-tooltip">Kings Move</mat-checkbox>
      </div>
    </div>
  </div>
</body>
